*{
	font-family: 'Encode Sans', sans-serif;
}

.back-gif{
	/*background: linear-gradient(to bottom, skyblue 50%, cyan 100%);*/
	background-image: url('./../images/bghome.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#tpm:hover{
	color: red;
}

.jumbo{
	height: 100vh;
}

.clear::after{
	content: "";
	display: block;
	clear: both;
}

.back-trpnt{
	margin: 30px;
    opacity: 0.50;
    filter: alpha(opacity=90);
}

.jumbotron h1{
	overflow: auto;
	white-space: nowrap;
	font-weight: bold;
	font-family: 'Chewy', cursive; 
}

.jumbotron h2{
	overflow: auto;
	white-space: nowrap;
	size: 5em;
	/*font-weight: bolder;*/
}

.chewy{
	font-family: 'Chewy', cursive; 
}

.year15, .iso{
	color: red;
	font-weight: bolder;
	text-decoration: double;
	font-family: 'Chewy', cursive; 
}

.jumbotron h1::-webkit-scrollbar {
	display: none;
}

.jumbotron h2::-webkit-scrollbar {
	display: none;
}

.nav-header{
	background: blue;
	width: 100%;

	/*display: inline-block; */
}

.nav-header li{
	display: inline-block;
}

.mycolor{
	background-color: #86c6c5;
}

.input-float{
	float: left;
	width: 46%;
	margin: 0 2%;
}

.form-group textarea{
	width: 96%;
	margin: 0 2%;
}

.wrapper{
	margin-bottom: 6em;
	/*min-height: 800px;*/
}

.about-wrapper{
	margin-top: 4em;
	margin-bottom: 6em;
	/*min-height: 800px;*/
}

.contact-wrapper{
	margin-top: 2em;
	margin-bottom: 6em;
	/*min-height: 800px;*/
}

body.aboutbody{
	background-image: url('./../images/bgabout.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body.contactbody{
	background-image: url('./../images/bgcontact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.leadpack{
	font-family: 'Aclonica', sans-serif;
	font-size: 1.0em;
}

.form-color{
	color: #2D395F;
}

.form-color input, .form-color textarea{
	background-color: silver;
}

.map-wrapper{
	width: 800px;
	border: 1px solid silver;
	border-radius: 10px;
	overflow: hidden;
	height: 480px; 
	padding: 0;
	margin: 0;
	/*margin-right: 10px;*/
}

#myModal{
	background-color: rgba(255,255,255,50%);

}

.modal-body{
	background-color: rgba(0,0,255,70%);
	color: white;
}

iframe{
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 580px;
	margin-left: -20px;
}

.img-progress{
	overflow: auto;
	white-space: nowrap;
}

.img-progress::-webkit-scrollbar{
	display: none;
}

.img-progress li{
	width: 12em;
	height: 12em;
	display: inline-block;
	margin-right: 1em;
}

.img-progress li img{
	width: 12em;
	height: 10em;
}

.img-progress li p{
	overflow: hidden;
}

.bgimage1{
	background-image: url('./../images/bgimage2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 200px;
}

img{
	border-radius: 5px;
}

img.officer{
	width: 15em;
	height: 15em;
	margin-bottom: 5px;
}

.col-officer{
	overflow-y: hidden;
	overflow-y: scroll;
	height: 100vh;
}

.about-page{
	/* overflow-y: hidden; */
	overflow-y: scroll;
	height: 100vh;
	/*color: honeydew;*/
}

.col-officer::-webkit-scrollbar{
	display: none;
}

.about-page::-webkit-scrollbar{
	display: none;
}
.nav-link:hover:not(.active){
	border-bottom: 3px solid red;
}

.active {
  border-bottom: 3px solid blue;
}




img.card-imgs{
	width: 400px;
	height: 200px;
	image-rendering: auto;
}

.page-title{
	font-family: 'Chewy', cursive;
	/*color: honeydew;*/
}

.text-mute{
	color: lightskyblue;
}

.theofficers{
	/*color: darkgray;*/
	font-weight: bold;
	font-family: 'Chewy', cursive;
	/*position: fixed;*/
}

.theofficers:hover{
	color: blue;
	text-decoration-line: overline;
  	/*text-decoration-style: wavy;*/
}

/*=========== OFFICERS HTML ===========*/
img.officer-show{
	width:100%;
	/*margin-left:auto;*/
	/*margin-right:auto;*/
	/*display:block;*/
	margin-top: 5px;
	height: 70vh;
}

img.demo{
	vertical-align: middle;
}

img.officer-show{
	/*position: relative;*/
	/*float: left;*/
	/*left: 200px;*/
}

img.demo{
	height: 8em;
}

.mySlides {
  display: none;
}

.image-set{
	display: inline-block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
/*.caption-container {
  text-align: center;
  background-color: #222;
  padding: 1px 16px;
  color: white;
}*/

.mini-carousel{
	overflow-y: hidden;
	overflow-y: scroll;
	height: 70vh;
}

.mini-carousel:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.mini-col {
  float: left;
  width: 48%;
  /*margin-left: 50px;*/
  margin-right: 2%;
  margin-top: 5px; 
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.4;
}
.active,
.demo:hover {
  opacity: 1;
}

.slideshow-container{
	position: relative;
}

.slideshow-thumbnail, .slideshow-container{
	float: left;
}
/*
font-family: 'Aclonica', sans-serif;
font-family: 'Chewy', cursive;          // Title
font-family: 'Rancho', cursive;
font-family: 'Encode Sans', sans-serif; // all fonts style
*/

div.divider{
	width: 100%
	height: 30px;
	background-color: darkblue;
	display: block;
	color: darkblue;
	text-align: center;
	line-height: 30px;
}

.parallax{
	height: 90vh;
	padding-top: 20%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.parallax h2{
	color: honeydew;
}
.parallax-img{
	background-image: url('./../images/p-minalungao2.jpg');
}
.parallax-img1{
	background-image: url('./../images/p-bataan2.jpg');
}
.parallax-img2{
	background-image: url('./../images/p-minalungao3.jpg');
}

.parallax-img3{
	background-image: url('./../images/p-zamba11.jpg');
}

.parallax-img4{
	background-image: url('./../images/p-minalungao5.jpg');
}

.parallax-img5{
	background-image: url('./../images/p-zamba6.jpg');
}

.parallax-img6{
	background-image: url('./../images/p-minalungao7.jpg');
}
.parallax-img7{
	background-image: url('./../images/p-zamba8.jpg');
}

.parallax-img8{
	background-image: url('./../images/offwork1.jpg');
}
.parallax-img9{
	background-image: url('./../images/leadtrain.jpg');
}


