	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	.nav{
		width: 100%;
		height: 60px;
		color: darkblue;
		background-color: skyblue;
		position: fixed;
		top: 0;
	}
	.logo{
		height: 60%;
		line-height: 60px;
		margin: 10px 0 0 50px;
		width: 200px;
	}
	ul{
		float: right;
	}
	li{
		display: inline-block;
		margin: 0 30px;
		line-height: 60px;
	}
	a{
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.6em;
		color: blue;
	}

	.footer{
		height: 100px;
		width: 100%;
		background-color: skyblue;
		font-weight: bold;
		text-align: center;
		line-height: 100px;
		color: blue;
	}
	.main{
		width: 100%;
		text-align: center;
	}

	.page{
		margin: 100px auto;
		min-height: 440px;
		text-align: center;
		font-family: 'Acme', sans-serif;
		color: darkblue;
		width: 60%;
	}

	h1{
		font-size: 5em;
		margin-bottom: 60px;
	}

	div.verse{
		text-align: right;
		font-size: 2em;
	}

	p.verse{
		font-size: 2em;
	}

	p.insight{
		/*text-align: left;*/
		/*margin-left: 20px;*/
		color: black;
	}

	strong{
		color: blue;
	}

	a:hover:not(.active){
		/*background-color: lightgreen;*/
		color: gray;
		/*padding: 14px 16px;*/
	}

	img{
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 925px){
		li{
		display: inline-block;
		margin: 0 10px;
		line-height: 60px;
		}
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1em;
			color: blue;
		}
	}